html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;   
}

.div{ 
  display: block;
}

#headlogo {
  position: absolute;
  top: 8px;  
  left: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  padding: 0px;
  z-index: 99;

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: #2c4947;
  padding: 0px;
  height: 65px;
  
}
.bottom{
  position: absolute;
  top: 550px;
  left: 0;
  background: #6b797f;
  padding: 0px;
  height: 80px;
}

.full {
  width: 100%;
  margin: 0;
 
  
}
.main {
  position: relative;
  width: 900px;
  margin-left: -450px;
  left: 50%;
  
 
}
.mountains {
  background: url(./assets/mountains.jpg)repeat-x center center / cover;;
  width: 100%;
  height: 495px;
  position: absolute;
  top: 57px;
  left: 0;
  
  
}
.trees{
  position: absolute;
  width: 100%;
  top: 57px;
  height: auto;
}
.datetime{
  position: relative;
  text-align: center;
  top: 415px;
}
.logo{
  position: absolute;
  width: 25%;
  left: 37.5%;
  top: 90px;
}

h1 {
  margin: 0;
  font-family: 'Rokkitt', serif;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 36px;
}

p {
  margin: 0;
  font-family: 'Rokkitt', serif;
  font-size: 22px;
  line-height: 28px;
}

.lake{
  position: absolute;
  width: 100%;
  top: 82px;
  height: auto;
}
#foot {
  margin-right:  auto;
  margin-left: auto;
  margin-top: 10px;
  height: 56px;
  width: 70%;
  background: #6b797f;
  z-index: 99;
}

.primary {
  margin: 0px;
 
}